[submodule "libva"]
	path = libva
	url = https://github.com/ChipsnMedia/libva.git
[submodule "media-driver"]
	path = media-driver
	url = https://github.com/ChipsnMedia/media-driver.git
[submodule "libva-utils"]
	path = libva-utils
	url = https://github.com/ChipsnMedia/libva-utils.git
[submodule "gmmlib"]
	path = gmmlib
	url = https://github.com/ChipsnMedia/gmmlib.git
[submodule "vaapi-fits"]
	path = vaapi-fits
	url = https://github.com/ChipsnMedia/vaapi-fits.git
[submodule "gst-build"]
	path = gst-build
	url = https://github.com/ChipsnMedia/gst-build.git
[submodule "FFmpeg"]
	path = FFmpeg
	url = https://github.com/ChipsnMedia/FFmpeg.git
